body{
    background-color: hsla(0, 0%, 10%);
}

div.text{
    color: whitesmoke;
}

div.title{
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 150%;
    font-weight: bold;
}

div.title h1{
    border-bottom: 1px solid whitesmoke;
}

div.select{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 300px;
    margin-left: -175px;

    font-size: 130%;
}

div.select h1{
    text-align: center;
    width: 300px;
    margin-left: 25px;
}

div.easy, div.intermediate, div.hard{
    margin-left: -50px;
    margin: 20px auto;
    display: inline-block;
    text-align: center;
    background: hsla(0, 0%, 10%);
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
    width: 300px;
    border: solid;
    border-radius: 4px;
    border-top-color:whitesmoke;
    border-right-color: whitesmoke;
    border-bottom-color: whitesmoke;
    border-left-color: whitesmoke;

    font-size: 125%;
}

div.easy a{
    color: greenyellow;
}

div.intermediate a{
    color: goldenrod;
}

div.hard a{
    color: crimson;
}

div.instructions{
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 700px;
    margin-left: -350px;

    font-size: 130%;
}

div.instructions h1{
    text-align: center;
}

